.headermain{
    margin: 0;
    padding: 1% 2%;
    height: 420px;
    width: 100%;
    background-image: url(mainecoonheader.jpg);
    background-position: center;
    background-color: black;
    color: white;
    font-size: 325%;
    align-content: flex-start;
    background-repeat: no-repeat;
    font-family: Arial, Helvetica, sans-serif;
}

.headerlil{
    margin: 0;
    padding: 1% 0;
    height: 300px;
    width: 100%;
    background-image: url(Lilvector1.PNG);
    background-position: center;
    background-color: black;
    color: white;
    font-size: 180%;
    background-position-x: right;
    align-content: flex-start;
    background-repeat: no-repeat;
    font-family: Arial, Helvetica, sans-serif;
}

.headergert{
    margin: 0;
    padding: 1% 0;
    height: 300px;
    width: 100%;
    background-image: url(gertheader.PNG);
    background-position: center;
    background-color: black;
    color: white;
    font-size: 180%;
    background-position-x: right;
    align-content: flex-start;
    background-repeat: no-repeat;
    font-family: Arial, Helvetica, sans-serif;

}
.headeraccolades{
    margin: 0;
    padding: 1% 0;
    height: 300px;
    width: 100%;
    background-image: url(girlslayingdown.PNG);
    background-position: center;
    background-color: black;
    color: white;
    font-size: 180%;
    background-position-x: right;
    align-content: flex-start;
    background-repeat: no-repeat;
    font-family: Arial, Helvetica, sans-serif;

}

header h1{
    padding-left: 10%;
    font-family: Arial, Helvetica, sans-serif;

}
.hsub{
    margin: 0;
    padding: 0;
    font-size: 70%;
    padding-left: 10%;
    font-family: Arial, Helvetica, sans-serif;


}
.hsubsub{
    margin: 0;
    padding-left: 10%;
    font-size: 50%;
    width: 40%;
    height:auto;
    font-family: Arial, Helvetica, sans-serif;


}
body{
    margin: 0;
    padding: 0;
    height: auto;
    width: 100%;
    color: black;
    font-family: Arial, Helvetica, sans-serif;


}
.refpara{
    margin: 0;
    padding-left: 1%;
    padding-right: 1%;
    font-size: 24pt;
    height: auto;
    width: 100%;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    border-style: solid;
    border-width: 10pt;

}
.navbar{
    margin: 0;
    padding: 0;
    height: 10%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 1%;
    padding-bottom: 10px;
    border: 0 0 2px 0;
    border-style: solid;
    font-size: 24pt;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;

}
a{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color:grey

}
ul li{
    font-family: Arial, Helvetica, sans-serif;
    color:white;
}
div img{
    padding:25px;
    font-family: Arial, Helvetica, sans-serif;

}
.girlstogether{
    display: flex;
    padding: 20px;
    font-size: 24pt;
    background-color: black;
    justify-content: space-between;
    color:white;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;

}
label{
    cursor: default;
}
.about1{
}

.refgrid{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 50% 50%;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    flex-wrap: wrap;

}
.refgrid div{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24pt;
    padding-left: 1%;

}

.refpic{
    padding: 2%;
    margin: 1%;
    text-align: center;
    background-color: white;
}

.refpic img{
    max-height: auto;
    max-width: 75%;
    object-fit:scale-down;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 1%;
    padding-left: 1%;
    padding-bottom: 1%;


}
